In [ ]:


string = "string"
reversed_string = ""
for i in range(len(string)-1, -1, -1):
  reversed_string += string[i]
print(reversed_string)

gnirts

In [ ]:


string1 = "abcdef"
string2 = "fedcba"

if len(string1) != len(string2):
  print ("Not anagrams")

reversed_string = ""

for i in range(len(string2)-1, -1, -1):
  reversed_string += string2[i]

if reversed_string == string1:
  print("Anagrams")
else:
  print("Not anagrams")

Enter the first string:
Enter the second string:
The strings are anagrams of each other.

In [ ]:

string = "This is a string with a substring."
substring = "is"

count = 0
start = 0
while True:
  start = string.find(substring, start)
  if start == -1:
    break
  count += 1
  start += len(substring)

print("The substring", substring, "occurs", count, "times in the string.")

The substring is occurs 2 times in the string.

In [ ]:


string = "aaabbccaa"
compressed_string = ""
count = 1
for i in range(len(string)):
  if i == len(string) - 1 or string[i] != string[i + 1]:
    compressed_string += string[i] + str(count)
    count = 1
  else:
    count += 1
print(compressed_string)

a3b2c2a2

In [ ]:

string = input("Enter a string: ")

char_set = set()
is_unique = True

for char in string:
  if char in char_set:
    is_unique = False
    break
  else:
    char_set.add(char)

if is_unique:
  print("The string has all unique characters.")
else:
  print("The string does not have all unique characters.")

Enter a string:
The string has all unique characters.

In [ ]:


string = "hello world"
uppercase_string = ""
for char in string:
  if ord(char) >= 97 and ord(char) <= 122:
    uppercase_string += chr(ord(char) - 32)
  else:
    uppercase_string += char
print(uppercase_string)

# Convert to lowercase
string = "HELLO WORLD"
lowercase_string = ""
for char in string:
  if ord(char) >= 65 and ord(char) <= 90:
    lowercase_string += chr(ord(char) + 32)
  else:
    lowercase_string += char
print(lowercase_string)

HELLO WORLD
hello world

In [ ]:

string = "This is a string with multiple words."
count = 1
for i in range(len(string)):
  if string[i] == " ":
    count += 1
print("The number of words in the string is:", count)

The number of words in the string is: 7

In [ ]:

string1 = "Hello"
string2 = " World"

for i in string2:
  string1 += i

print(string1)

Hello World

In [ ]:

my_list = [1, 2, 3, 2, 4, 2]
element_to_remove = 2
new_list = []

for item in my_list:
  if item != element_to_remove:
    new_list.append(item)

print(new_list)

[1, 3, 4]

In [ ]:

my_list = [12, 54, 76, 34, 89, 23]

if len(my_list) < 2:
  print("List must have at least two numbers")
else:
  largest = my_list[0]
  second_largest = my_list[1]

  if second_largest > largest:
    largest, second_largest = second_largest, largest

  for i in range(2, len(my_list)):
    if my_list[i] > largest:
      second_largest = largest
      largest = my_list[i]
    elif my_list[i] > second_largest and my_list[i] != largest:
      second_largest = my_list[i]

  print("The second largest number is:", second_largest)

The second largest number is: 76

In [ ]:


my_list = [1, 2, 2, 3, 4, 4, 5]

count_dict = {}
for element in my_list:
  if element in count_dict:
    count_dict[element] += 1
  else:
    count_dict[element] = 1

print(count_dict)

{1: 1, 2: 2, 3: 1, 4: 2, 5: 1}

In [ ]:


my_list = [1, 2, 3, 4, 5]
left = 0
right = len(my_list) - 1

while left < right:
  my_list[left], my_list[right] = my_list[right], my_list[left]
  left += 1
  right -= 1

print(my_list)

[5, 4, 3, 2, 1]

In [ ]:


my_list = [1, 2, 2, 3, 4, 4, 5]
new_list = []
seen = set()

for item in my_list:
  if item not in seen:
    new_list.append(item)
    seen.add(item)

print(new_list)

[1, 2, 3, 4, 5]

In [ ]:

my_list = [1, 2, 3, 4, 5]

ascending = True
descending = True

for i in range(len(my_list) - 1):
  if my_list[i] > my_list[i + 1]:
    ascending = False
  if my_list[i] < my_list[i + 1]:
    descending = False

if ascending:
  print("The list is sorted in ascending order.")
elif descending:
  print("The list is sorted in descending order.")
else:
  print("The list is not sorted.")

The list is sorted in ascending order.

In [ ]:


list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged_list = []
i = 0
j = 0

while i < len(list1) and j < len(list2):
  if list1[i] <= list2[j]:
    merged_list.append(list1[i])
    i += 1
  else:
    merged_list.append(list2[j])
    j += 1

while i < len(list1):
  merged_list.append(list1[i])
  i += 1

while j < len(list2):
  merged_list.append(list2[j])
  j += 1

print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection = []
for element in list1:
  if element in list2 and element not in intersection:
    intersection.append(element)

print(intersection)

[4, 5]

In [ ]:

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

union = []
for element in list1:
  if element not in union:
    union.append(element)

for element in list2:
  if element not in union:
    union.append(element)

print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:


import random

my_list = [1, 2, 3, 4, 5]
n = len(my_list)

for i in range(n - 1, 0, -1):
  j = random.randint(0, i)
  my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[1, 4, 3, 2, 5]

In [ ]:


tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

common_elements = ()
for element in tuple1:
  if element in tuple2 and element not in common_elements:
    common_elements = common_elements + (element,)

print("Common elements:", common_elements)

Common elements: (4, 5)

In [ ]:


set1_str = input("Enter the first set of integers separated by commas: ")
set2_str = input("Enter the second set of integers separated by commas: ")

set1 = set(int(x) for x in set1_str.split(","))
set2 = set(int(x) for x in set2_str.split(","))

intersection = set()
for element in set1:
  if element in set2:
    intersection.add(element)

print("Intersection:", intersection)

In [ ]:


tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

In [ ]:


# Prompt the user to enter the first set of strings
set1_input = input("Enter the first set of strings separated by commas: ")

# Prompt the user to enter the second set of strings
set2_input = input("Enter the second set of strings separated by commas: ")

# Convert the input strings to sets of strings
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Calculate the difference between the two sets (elements in set1 but not in set2)
difference = set1 - set2

# Print the difference
print("Elements present in the first set but not in the second set:", difference)

In [ ]:

def extract_tuple_range(input_tuple, start_index, end_index):
  new_tuple = tuple(input_tuple[i] for i in range(start_index, end_index))
  return new_tuple

# Get input from the user
input_str = input("Enter a tuple of integers separated by commas: ")
start_index = int(input("Enter the starting index: "))
end_index = int(input("Enter the ending index: "))

# Convert the input string to a tuple of integers
input_tuple = tuple(int(x) for x in input_str.split(","))

# Extract the elements within the specified range
result_tuple = extract_tuple_range(input_tuple, start_index, end_index)

# Print the result
print("Resulting tuple:", result_tuple)

In [ ]:


# Prompt the user to enter the first set of characters
set1_str = input("Enter the first set of characters: ")

# Prompt the user to enter the second set of characters
set2_str = input("Enter the second set of characters: ")

# Create sets from the input strings
set1 = set(set1_str)
set2 = set(set2_str)

# Calculate the union of the two sets
union_set = set1 | set2

# Print the union
print("Union of the two sets:", union_set)

In [ ]:

input_str = input("Enter a tuple of integers separated by commas: ")

# Convert the input string to a tuple of integers
input_tuple = tuple(int(x) for x in input_str.split(","))

# Find the maximum and minimum values using tuple unpacking
maximum, minimum = max(input_tuple), min(input_tuple)

# Print the results
print("Maximum value:", maximum)
print("Minimum value:", minimum)

In [ ]:


# Get input for the first set
set1_str = input("Enter elements for the first set, separated by spaces: ")
set1 = set(map(int, set1_str.split()))

# Get input for the second set
set2_str = input("Enter elements for the second set, separated by spaces: ")
set2 = set(map(int, set2_str.split()))

# Calculate and print the union
union_set = set1 | set2
print("Union:", union_set)

# Calculate and print the intersection
intersection_set = set1 & set2
print("Intersection:", intersection_set)

# Calculate and print the difference (set1 - set2)
difference_set = set1 - set2
print("Difference (set1 - set2):", difference_set)

In [ ]:


# Get input from the user for the tuple
input_str = input("Enter elements for the tuple separated by commas: ")
my_tuple = tuple(map(int, input_str.split(',')))

# Get input from the user for the element to search for
element = int(input("Enter the element to count: "))

# Count the occurrences of the element in the tuple
count = 0
for item in my_tuple:
  if item == element:
    count += 1

# Print the count of occurrences
print("The element", element, "appears", count, "times in the tuple.")

In [ ]:


# Prompt the user to enter the first set of strings
set1_input = input("Enter the first set of strings separated by commas: ")

# Prompt the user to enter the second set of strings
set2_input = input("Enter the second set of strings separated by commas: ")

# Convert the input strings to sets of strings
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Calculate the symmetric difference of the two sets
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric difference of the two sets:", symmetric_difference)

In [ ]:

words = input("Enter a list of words separated by spaces: ").split()

word_counts = {}
for word in words:
  if word in word_counts:
    word_counts[word] += 1
  else:
    word_counts[word] = 1

print(word_counts)

In [ ]:


dict1_str = input("Enter the first dictionary as key:value pairs separated by commas: ")
dict2_str = input("Enter the second dictionary as key:value pairs separated by commas: ")

dict1 = {}
for pair in dict1_str.split(","):
  key, value = pair.split(":")
  dict1[key.strip()] = int(value.strip())

dict2 = {}
for pair in dict2_str.split(","):
  key, value = pair.split(":")
  dict2[key.strip()] = int(value.strip())

merged_dict = dict1.copy()
for key, value in dict2.items():
  if key in merged_dict:
    merged_dict[key] += value
  else:
    merged_dict[key] = value

print(merged_dict)

In [ ]:


nested_dict = {'a': 1, 'b': {'c': 2, 'd': 3}, 'e': 4}
keys = ['b', 'c']

value = nested_dict
for key in keys:
  if isinstance(value, dict) and key in value:
    value = value[key]
  else:
    value = None
    break

print(value)

In [ ]:


my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))

print(sorted_dict)

In [ ]:


my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 2}

inverted_dict = {}
for key, value in my_dict.items():
  if value not in inverted_dict:
    inverted_dict[value] = [key]
  else:
    inverted_dict[value].append(key)

print(inverted_dict)